body{
    margin: 0;
    
}
.card-bytags{
    display: inline-grid;
}
video{
position: fixed;
min-width:100%;
min-height:100;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
z-index: -1;
}
#root{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
}
footer{ 
    background-color: rgb(6, 6, 6);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    color: blanchedalmond;
    text-align: center;
}
*{
    padding: 0%;
    margin:0%;
}
header{
    background-color: rgb(6, 6, 6, 1);
}
header:hover{
    background-color: rgb(6, 6, 6, 0.9);;
}

#imagen1{
    width: 20%;
    margin-left: 40%;  
}
.menu{
    width: 30%;
    margin-top: -1%;
    
}
ul > li{ 
    list-style: none;
    
    }
@media screen and (max-width:725px) {
    
    .menu{
        width: 100%;
        margin-top: -1%;       
}
menu nav ul li a{
background-color: rgba(185, 197, 20, 0.959);
    color: rgba(126, 125, 125, 0.849);
}
}

.menu nav ul li a{
    background-color: rgb(6, 6, 6);
    color: rgba(126, 125, 125, 0.849);
    text-decoration: none;
    padding: 5% 5%;
    display: block;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 15pt;
    margin-top: 3%;


}
.menu nav ul li a:hover{
    color: rgb(243, 218, 75);
    box-shadow: 0 5px rgb(250, 191, 82);
    background-color: rgb(7, 6, 6, 0.9);
}
.menu nav ul li ul{
    display: none;
    position: absolute;
    min-width: 10%;
    margin-left: 22.6%;
    margin-top: -7%;
}
.menu nav ul li:hover> ul{ 
    display: block;
}
#container-listImagens, #container-listRoles{
       display: flex;
       flex-wrap: Wrap;
       flex-direction: row;
       justify-content: space-around;
       list-style: none;
       justify-content: space-evenly;
       margin-left: 25%;
       margin-top: -20%;
     }
#container-listRoles{
    margin-top: 0%;
}    
.card-link, .card-list{
    margin-top: 1%;
    color: rgb(255, 254, 254);
    background-color: rgba(66, 99, 89, 0.6);
    display: block;
    list-style: none;
    width: 9em;
    height: 13em;;
    padding: 1% 1% 1% 1%;
    border-radius: 5%;
    border: 3px solid rgb(250, 191, 82);
  }
.card-link:hover{
      background-color: rgba(252, 248, 248, 0.938);
  }
.card-link:hover .post-title {
    transition: color 0.3s ease;
    color: #f76809;
  }
.card-link:hover .post-image {
    transition: opacity 0.3s ease;
    opacity: 0.9;
  }
.post-image, .image{
    width: 9em;
    height: 9em;
    border-radius: 5%;
  }
  .footer{
     margin-top: 30%; 
  }