@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');

*{
    margin:0;
    padding: 0;
}
video{
    position:fixed;
     min-width:100%;
    min-height:100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
   }

.header{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background:black;
    display: flex;
    
}
.logo{
    width: 100px;
    height:50px ;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

#screen-principal,#screen-top{
padding-top: 80px;   
}
#screen-filter,#screen-stats{
    padding-top: 250px;   
}
#filters{
  background: #544a7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #544a7d, #ffd452); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #544a7d, #ffd452);
  display: flex;
  flex-wrap: wrap wrap-reverse;
  justify-content: center;
  justify-content: space-around;
  padding: 20px 0px 20px;
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  z-index: 1000;
  margin-top: 70px;
}

nav{
    top: 0%;
    width: 90%;
    max-width: 1000px;
    justify-content: center;
    margin-bottom: 0%;
}
nav > ul{ 
    list-style: none;    
    }
nav > ul {
    display:table;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: rgba(5, 5, 5, 1.0);
}
nav > ul li {
    display: table-cell;
}

nav > ul li a{
    color: rgb(179, 154, 12);
    display: block;
    line-height: 20px;
    font-size: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius:50px;
}
nav > ul li a:hover{
    color: rgb(250, 249, 249);
    background-color: rgba(31, 27, 27, 0.959);
    
}

#container-listChampions, #container-topTeam, #container-filterRoles, #container-stats{
    display: flex;
    flex-wrap: Wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    justify-content: space-between;
}
#container-listChampions{
    margin-top: 25px;
}
#container-filterRoles{
    margin-top: -90px;
}

#container-listChampions, #container-topTeam, #container-filterRoles{
    background: rgb(12, 12, 12);
    outline-style: ridge;
    outline-color: #ffde44;
}
#container-filterInfo{
   max-width: 1200px;
   margin: 50px auto ;
   display: flex;
   flex-direction: raw;
   justify-content: center;
   outline-color: #ffde44;
    margin-top: -300px;
}
p{
    color: #f2bc00;
    font-size: 20pt;
    font-family: 'Happy Monkey', cursive;
    margin-left: 5%;
    margin-right: 5%;

}
.text1{
    font-size: 15pt;
    color:blanchedalmond;
    text-align: center;
    margin-top: 2%;
    font-family: 'Happy Monkey', cursive;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 18px;
}
#nav{
   background: black;
   padding: 10PX;
   margin-left: 15%;
   color: #e7e9bb;
   font-family: 'Architects Daughter', cursive;
   border-radius: 10px;
   border: #f2bc00 solid 3px;
   font-size: 25px;
}
#nav:hover{
    background: white;
    color: #000; 
}
#order{
width: 150px;
height: 40px;
font-family: 'Happy Monkey', cursive;
font-size: 20px;
border: #050505 solid 2px;
display: block;
margin-left: 40%;
}

.cards, .card-link, .card-bytags{
    margin-top: 1%;
    display: block;
    list-style: none;
    width: 25%;
    padding: 1% 1% 1% 1%;
    border-radius: 5%;
}
.cards2{
    margin: 20%;
  
}


.stats{
    border: #f2bc00 solid 1px;
    margin-top: 2%;
    width: 50%;
    text-align: center;
    background: beige;
}
.stats:hover{
    background: #ffde44
}

.cards:hover figure{
    -webkit-transform: perspective(500px) rotateY(180deg);
    -ms-transform: perspective(500px) rotateY(180deg);
    -o-transform: perspective(500px) rotateY(180deg);
    transform: perspective(500px) rotateY(180deg);
}

.card-link:hover figure{
    -webkit-transform: perspective(500px) rotateY(180deg);
    -ms-transform: perspective(500px) rotateY(180deg);
    -o-transform: perspective(500px) rotateY(180deg);
    transform: perspective(500px) rotateY(180deg);
}

.cards2:hover figure{
    -webkit-transform: perspective(500px) rotateY(180deg);
    -ms-transform: perspective(500px) rotateY(180deg);
    -o-transform: perspective(500px) rotateY(180deg);
    transform: perspective(500px) rotateY(180deg);
}

.card-bytags:hover figure{
    -webkit-transform: perspective(500px) rotateY(180deg);
    -ms-transform: perspective(500px) rotateY(180deg);
    -o-transform: perspective(500px) rotateY(180deg);
    transform: perspective(500px) rotateY(180deg);
}

figure{
    width: 100%;
    height: 90%;
    border-radius: 5%;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    
}

figure .frontal, figure .trasera, figure .trasera2, figure .frontalTop, figure .traseraTop,figure .frontal2, figure .frontal3, figure .trasera3{
    width: 100%;
    border-radius: 5px;
    transition: all ease .5s;
    border: 1px solid #ffde44;
    
}

figure .frontalTop, figure .traseraTop{
    border: 1px solid bisque;
    outline-style: ridge;
    border-radius: 0px;
}

figure .frontal, figure .frontal2, figure .frontalTop, figure .frontal3{
    display: block;
    backface-visibility: hidden;    
}

figure .trasera, figure .trasera2, figure .traseraTop, figure .trasera3{
    position: absolute;
    width: 88%;
    top: 0;
    
    transform: perspective(500px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
    background: beige;
    font-family: 'Happy Monkey', cursive;
    font-size: 50px;
}
figure .traseraTop{
    background: #403b4a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #403b4a, #e7e9bb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #403b4a, #e7e9bb);
}
figure .trasera .name{
    color:rgb(5, 5, 5);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    text-align: center;
}

figure .trasera hr{
    height: 2px;
    background:#ffe642;
}

figure .trasera .title{
    color:rgb(3, 3, 3);
    font-family: 'Josefin Sans', sans-serif;   
    font-size: 8pt;
    text-align: center;
}
figure .frontal2,
figure .trasera2{
    width: 120%;
    height: 120%;
    border-radius: 10px;
    transition: all ease .5s;
    
}
figcaption.trasera2{
    color:rgb(3, 3, 3);
    font-family: 'Architects Daughter', cursive;   
    text-align: center;
    font-size: 18pt;
    background: #403b4a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #403b4a, #e7e9bb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #403b4a, #e7e9bb);
    
}

figure .traseraTop {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16pt;
    text-align: center;
}
figure .traseraTop .post-title{
    margin-top: 3%;
    color: #060606;
}

figure .traseraTop .post-names{
    margin-top: 3%;
    color:rgb(248, 246, 244);
}

figure .traseraTop .post-attackrange{
    margin-top: 3%;
    color:rgb(12, 12, 12);
}
figure .trasera3{
    color: #060606;
    background: #403b4a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #403b4a, #e7e9bb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #403b4a, #e7e9bb);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30pt;
    text-align: center;
}

.post-image {
    width: 9em;
    height: 9em;
    border-radius: 5%;
}
.element1{
    background-color: rgb(252, 252, 248);
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.element1:hover{
    background-color: #ffde40;
    color:rgb(5, 5, 5);
}
.element1:hover{
    background-color: #ffde40;
    color:rgb(3, 3, 3);
}

.element2 {
    border-radius: 15px;
    background-color: rgb(32, 37, 32); /* Green */
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.element2:hover {
    background-color: #ffd700;
    color: #000;
}
  
.element2:active {
    background-color: #1d2829;
    box-shadow: 0 5px rgb(180, 178, 17);
    transform: translateY(4px);
}

 table {
    width: 100%;
    border: 1px solid #000;
    background: #ffde40
 }
 table:hover{
     background: beige;
 }

 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }

h2,h4{
    color: rgb(5, 5, 5);
}

.iconf{ 
    padding: 1% 1% 1% 1%;
}
footer{
    width: 100%;
    background:black;
    line-height: 10px;
    position: fixed;
    bottom: 0;
 
}
.container-footer{
    width: 100%;
    max-width: 1200px;
    
}
label{
    font-family: 'Architects Daughter', cursive;
}


@media screen and (max-width:760px){
    #screen-principal, #screen-top,screen-satas {
        padding-top: 120px;
    }
    #screen-filter {
        margin-top: 60px;
    }

#container-filterRoles{
    margin-top: -250px;
}
    header, header nav{
      width: 100%;
      line-height: 100px;
    }
    #container-listChampions, #container-topTeam, #container-filterRoles, #container-stats {
        display: flex;
        flex-wrap: Wrap;
        justify-content: center;
        
    }
    #container-filterRoles{
        margin-top: 70px;
    }
    #container-filterInfo{
        margin-top: -10px;

    }
    .cards, .card-link, .card-bytags {
      width: 90%;

    }
    label{
        display: none;
    }
 
    #filters{
        margin-top: 130px;
    }
    .wrapper{
       
        width: 100%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }
    #order{
        margin-left: 60%
    }
    
}